
body{
    margin:0px;
}

.header{
    background-color: orange;
    width:100%;
    height:150px;
    position:sticky;
}

.footer{
    background-color: pink;
    width:100%;
    height:150px;
    position: absolute;
    bottom:0px;
}

.sideBar{
    background-color: green;
    width: 440px;
    height: 500px;
    float:left;
    top:150px;
    bottom:150px;
}

.mainContent{
    background-color: yellow;
    float:right;
    height: 500px;
    width: 1000px;
    top:150px;
    bottom:150px;
}